body {
  margin: 0;
}

.mainList{
  position: absolute;
  width: 68%;
  left: 180px;
  top: 80px;
  border-color: black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.518);
  z-index: -1;
}

.listName{
  display: inline;
  position: absolute;
  font-size: 30px;
  padding-left: 10px;
  margin-top: 5px;
}

List{
  margin-top: 5px;
}

.addItemTextbox.active{
  background-color: none;
}
.mainList ul{
  padding-top: 50px;
  padding-bottom: 10px;
  left: 0px;
  margin: 0;
  list-style: none;
  text-align: left;
  padding-left: 10px;
}

.mainList li{
  font-size: 22px;
}

.mainList a:hover{
  background-color: gray;
}

.mainList a:visited{
  color: black;
}

.mainList a{
  text-decoration: none;
}

.mainList .updateList{
  position: relative;
  left: 200px;
}

.mainList .leftListItem{
  display: inline-block;
  width: 80%;
  margin: 0;
}

.mainList .rightListItem{
  margin: 0;
  text-align: right;
  display: inline-block;
}